<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div data-reflex="click->WelcomeReflex#greetings"
    data-room="public">
    Click here</div>
<%= @hello %>

<p>
    <div data-reflex="click->WelcomeReflex#increment"
        data-step="1"
        data-room="<%= request.user_agent %>"
        data-count="<%= @count.to_i %>">
        Icrement <%= @count.to_i %>
    </div>
</p>

<p>
    <div data-controller="example"
        data-action="click->example#increment"
        data-step="1"
        data-room="<%= session.id %>"
        data-count="<%= @increment.to_i %>">
        Icrement from Stimulus <%= @increment.to_i %>
    </div>
</p>

<p>
<h2>Please enter your name </h2>
<input type="text" data-value="<%= @value %>" data-reflex="keyup->WelcomeReflex#say_hello">
</p>
<h1><%= @name %></h1>

